@import "@carbon/themes/scss/themes";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

.customArticleCardContainer {
  padding: 10%;
  h1 {
    text-align: center;
    @include carbon--type-style('productive-heading-04');
  }

  h2 {
    text-align: center;
    @include carbon--type-style('productive-heading-03');
    color: $interactive-04;
  }

  .articleCardImage {
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: $spacing-09;
    max-width: 320px;
    transition: transform .1s;
    cursor: pointer;
  }

  .articleCardImage:hover {
    transform: scale(1.2);
  }
}