@import "@carbon/themes/scss/themes";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

.requestDemoContent {
  padding: $layout-05 $layout-03;
  background: $ui-background;
  // background: $ui-05;
  // color: $inverse-01;

  @include carbon--breakpoint('md') {
    padding: $layout-05 $layout-05 !important;
  }

  @include carbon--breakpoint('lg') {
    padding: $layout-05 $layout-07 !important;
  }
}

.requestDemoRow h1 {
  text-align: center;
  // color: $text-03;
  color: $text-04;
  @include carbon--type-style('productive-heading-05');
}

.requestDemoRow h2 {
  text-align: center;
  color: $text-02;
  @include carbon--type-style('productive-heading-05');
}

.requestDemoActions {
  padding-top: 30px;
  padding-left: 10%;
  text-align: center;
}

.requestDemoRow a {
  margin-left: $spacing-05;
  margin-bottom: $spacing-05;
}