// This is where your application styles could go.
@import "@carbon/themes/scss/themes";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

// import Carbon styles here
// @import "carbon-components/scss/globals/scss/styles.scss";

@media (min-width: 66rem) {
  .container--homepage .bx--grid {
    padding-left: 2rem;
  }
}

.bx--grid {
  max-width: unset;
}

.bx--side-nav {
  background-color: var(--cds-ui-05, #161616);
}

.container:not(.container--homepage) .bx--grid {
  max-width: unset;
}

.container--homepage {
  margin-top: 0px;
}

.bx--btn {
  padding-right: 12px;
}